.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  position: relative;
  z-index: 999;
}
.CodeMirror {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  background: rgba(0, 0, 0, 0);
  color: #fff;
  font-size: inherit;
  padding: 1rem;
}
.CodeMirror-gutters {
  background-color: transparent;
  border-width: 0px;
}
.CodeMirror pre {
  padding: 0px !important;
}
.CodeMirror pre,
.CodeMirror pre span,
.CodeMirror-linenumber,
.CodeMirror-line {
  color: #fff !important;
  opacity: 1;
  font-size: inherit;
  font-family: 'Roboto Mono Light';
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}
.CodeMirror-linenumber {
  opacity: 0.5 !important;
  padding-right: 20px;
}
.CodeMirror-line span[role='presentation'] {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0.2em;
  /* padding: 0.2em 0.5em; */
}

.CodeMirror-selected,
.CodeMirror-selected .CodeMirror-line span[role='presentation'] {
  background: #00f !important;
}

.CodeMirror span.cm-comment {
  color: #999 !important;
}
.CodeMirror-linenumber {
  opacity: 0.8;
}
.CodeMirror-cursor {
  border-left: 3px solid #fff;
  border-right: none;
  width: 0;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

#repl {
  padding: 1rem;
  font-family: 'Roboto Mono Light';
  color: #fff;
  opacity: 1;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
  font-size: 0.9em;
  /* height: 50px; */
  /* background: #000; */
  flex-shrink: 0;
  max-height: 100px;
  overflow: scroll;

  word-break: break-all;
}
