@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.2;
}
body {
  min-height: 100vh;
  background: #111111;
  color: #f5f5f5;

  background-image: radial-gradient(#333333 0.5px, #111111 0.5px);
  background-size: calc(28 * 0.5px) calc(28 * 0.5px);
}
#grid {
  opacity: 0.4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

canvas {
  z-index: 0;
}
